# Pandas Course üêº

## 1. Creating, Reading and Writing

### Getting Started üèÉ‚Äç‚ôÇÔ∏è

In [2]:
import pandas as pd

### Creating Data üî®

#### Existe dois principais objetos no pandas: **DataFrame** e as **Series**

> **DataFrame**
> DataFrame √© uma tabela. Ele cont√©m um array de entradas individuais, cada uma com um certo valor. Cada entrada corresponde uma linha e uma coluna.

*Por exemplo, considere o DataFrame simples a seguir:*

In [3]:
pd.DataFrame({'Yes' : [50, 21], 'No' : [131, 2]})

   Yes   No
0   50  131
1   21    2

Nesse exemplo:
 - A entrada '0, No' tem o valor 131.
 - A entrada '0, Yes' tem o valor de 50.

 *As entradas do DataFrame n√£o s√£o limitadas a inteiros. Por exemplo, segue um DataFrame cujo valores s√£o strings:*

In [4]:
pd.DataFrame({'Bob' : ['I liked it.', 'It was awful'], 'Sue' : ['Pretty good', 'Bland']})

            Bob          Sue
0   I liked it.  Pretty good
1  It was awful        Bland

O construtor de lista de dicion√°rio atribui valores aos r√≥tulos das colunas, mas apenas usa uma contagem crescente para os r√≥tulos das linhas.

Esse r√≥tulo √© conhecido como **index**. N√≥s conseguimos atribuir valores para ele passando um **index** como param√™tro em nosso construtor.

In [5]:
pd.DataFrame({'Bob' : ['I liked it.', 'It was awful'],
              'Sue' : ['Pretty good', 'Bland']},
              index = ['Product A', 'Product B'])

                    Bob          Sue
Product A   I liked it.  Pretty good
Product B  It was awful        Bland

#### Series

> **Series**
> Series √© uma sequencia de valores de dados. Se um DataFrame √© uma tabela, a Serie √© uma lista.

*Voc√™ pode criar uma Series com nada mais que uma lista:*

In [6]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

Uma **Series** √© uma √∫nica coluna de um DataFrame. Assim, voc√™ consegue atribuir r√≥tulos de linhas para a Series do mesmo jeito que voc√™ fez com o DataFrame, usando o **index** como par√¢metro. No entando uma Series n√£o tem nome de coluna, somente um nome geral.

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## Reading Data Files üìñ

Dados podem ser armazenado de v√°rias formas e formatos diferentes. De longe, o mais b√°sico √© o .CSV.

*Quando voc√™ abre um arquivo CSV, obt√©m algo parecido com isto:*

In [8]:
'''
Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11
'''

'\nProduct A,Product B,Product C,\n30,21,9,\n35,34,1,\n41,11,11\n'

Um arquivo CSV √© uma tabela de valores separados por v√≠rgulas.

Vamos agora ver como um conjunto de dados real se parece quando o lemos em um DataFrame.

> N√≥s vamos usar a fun√ß√£o **pd.read_csv()** para ler os dados em um DataFrame

In [70]:
wine_review = pd.read_csv(r'C:\Users\migsk\Documents\Kaggle Courses\kaggle-courses\Pandas Course\wine_review_datas\winemag-data-130k-v2.csv')
pd.set_option('display.max_rows', 5)
pd.set_option('display.max_columns', None)

N√≥s conseguimos usar o atributo **shape** para checar o tamanho do DataFrame.

In [10]:
wine_review.shape

(129971, 14)

Podemos observar que o DataFrame possui:
- **129971** linhas
- **14** colunas
> Ou seja, quase 2 milh√µes de entradas

In [11]:
wine_review.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

A fun√ß√£o **pd.read_csv()** possui mais de 30 par√¢metros opcionais que podemos especificar.

Por exemplo, nesse conjunto de dados, podemos ver que o arquivo CSV tem um √≠ndice imbutido, que o *pandas* n√£o pega automaticamente. Para fazer o *pandas* usar essa coluna para o √≠ndice (ao inv√©s de criar um novo do zero), podemos especificar um **index_col**

In [12]:
wine_review = pd.read_csv(r'C:\Users\migsk\Documents\Kaggle Courses\kaggle-courses\Pandas Course\wine_review_datas\winemag-data-130k-v2.csv', index_col=0)
wine_review.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## 2. Indexing, Selecting & Assigning üéØ

### Getting Started üèÉ‚Äç‚ôÇÔ∏è

In [13]:
import pandas as pd
reviews = pd.read_csv(r'C:\Users\migsk\Documents\Kaggle Courses\kaggle-courses\Pandas Course\wine_review_datas\winemag-data-130k-v2.csv', index_col=0)
pd.set_option('display.max_columns', 5)

### Native Acessors üêç

> Considere este DataFrame:

In [14]:
reviews

,country,description,...,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",...,White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",...,Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",...,Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",...,Gew√ºrztraminer,Domaine Schoffit

Em <font color='#2CFA34'>**python**</font>, n√≥s conseguimos acessar a propriedade de um objeto, acessando ele como um atributo.

In [15]:
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

Se tivermos um dicion√°rio, conseguimos acessar esses valores usando o operador de indexa√ß√£o **[ ]**. Podemos fazer o mesmo com colunas de um DataFrame

In [16]:
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

> A diferen√ßa entre as duas maneiras de sele√ß√£o √© que o operador **[ ]** tem a vantagem de conseguir lidar com caracteres reservados.

Para selecionar um valor espec√≠fico, n√≥s precisamos usar o operador **[ ]** mais uma vez

In [17]:
reviews['country'][0]

'Italy'

### Indexing in Pandas ü™™

> O operadore de indexa√ß√£o e sele√ß√£o de atributos s√£o parecidos com o do pr√≥prio python, entretanto, <font color='#33FFE0'>**pandas**</font> possui seus pr√≥prio operadores de acesso: <font color='#F7D209'>**loc**</font> e <font color='#F7D209'>**iloc**</font>

#### <font color='#F7D209'>**iloc:**</font> Index-based selection

> Indexa√ß√£o do pandas funciona em dois paradigmas.

1. **sele√ß√£o baseada em √≠ndice:** seleciona os dados baseado na posi√ß√£o num√©rica dos dados.

In [18]:
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

> ‚ö†Ô∏è <font color='#F7D209'>Tanto loc como iloc s√£o baseados em: primeiro-linha, segundo-coluna. Isso √© o oposto do que acontece no python nativo, que √© primeiro-coluna, segundo-linha</font>

Para selecionar uma coluna com **iloc**, n√≥s podemos fazer isto:

In [19]:
reviews.iloc[:, 0]

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

> O operador <font color='#F2601C'>**:**</font> sozinho, assim como no python nativo, significa 'TUDO'. Quando combinado com outro seletor, pode ser usado para indicar um intervalo de valores.

Por exemplo, para selecionar a **coluna pa√≠s** da primeira, segunda e terceira linha, n√≥s fazemos:

In [20]:
reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

Ou, para selecionar apenas a segunda e terceira entrada, fazemos:

In [21]:
reviews.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

<font color='#FB5151'>**Tamb√©m √© poss√≠vel passar uma lista!**</font>

In [22]:
reviews.iloc[[0, 1, 2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

> Vale a pena saber que n√∫meros negativos tamb√©m podem ser usados nas sele√ß√µes. Isso far√° com que comece a contagem dos valores de tr√°s para frente

Por exemplo, vamos selecionar os √∫ltimos cinco elementos do dataset

In [23]:
reviews.iloc[-5:]

,country,description,...,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,...,Riesling,Dr. H. Thanisch (Erben M√ºller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,...,Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,...,Gew√ºrztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",...,Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",...,Gew√ºrztraminer,Domaine Schoffit

#### <font color='#F7D209'>**loc:**</font> Label-based selection

> Segundo paradigma

2. **Sele√ß√£o Baseada em r√≥tulo:** O valor do √≠ndice dos dados que importa, e n√£o sua posi√ß√£o.

Por exemplo, para selecionar a primeira entrada de **reviews**, n√≥s faremos o seguinte:

In [24]:
reviews.loc[0, 'country']

'Italy'

> **iloc** √© conceitualmente mais simples que o **loc** porque ele ignora os √≠ndices do dataset.
>
> Quando usamos o **iloc** n√≥s tratamos o dataset como uma grande matriz, na qual devemos indexar por posi√ß√£o.
>
> Por outro lado, o **loc** usa a informa√ß√£o nos √≠ndices

<font color='#FB5151'>Caso seu conjunto de dados possui √≠ndices significativos, geralmente √© mais f√°cil usar o **loc**</font>

Por exemplo, uma opera√ß√£o mais f√°cil usando o loc:

In [25]:
reviews.loc[:, ['taster_name', 'taster_twitter_handle', 'points']]

          taster_name taster_twitter_handle  points
0       Kerin O‚ÄôKeefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
...               ...                   ...     ...
129969     Roger Voss            @vossroger      90
129970     Roger Voss            @vossroger      90

[129971 rows x 3 columns]

### Manipulating the index

O √≠ndice que usamos n√£o √© imutavel! Podemos manipular ele da maneira que acharmos adequada.

O m√©todo <font color='#4A0FF4'>**set_index()**</font> pode ser usado para fazer esse trabalho

In [26]:
reviews.set_index('title')

,country,description,...,variety,winery
title,,,,,
Nicosia 2013 Vulk√† Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",...,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",...,Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...
Domaine Marcel Deiss 2012 Pinot Gris (Alsace),France,"A dry style of Pinot Gris, this is crisp with ...",...,Pinot Gris,Domaine Marcel Deiss
Domaine Schoffit 2012 Lieu-dit Harth Cuv√©e Caroline Gewurztraminer (Alsace),France,"Big, rich and off-dry, this is powered by inte...",...,Gew√ºrztraminer,Domaine Schoffit

Isso √© √∫til se voc√™ puder criar um √≠ndice para o dataset que seja melhor do que o atual.

### Conditional Selection

> As vezes n√≥s precisamos fazer perguntas baseadas em condi√ß√µes.

Por exemplo, suponha que estamos interessados especificamente em vinhos acima da m√©dia produzidos na It√°lia:

N√≥s podemos come√ßar chegando se o vinho √© da Italia, ou n√£o.

In [27]:
reviews.country == 'Italy'

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

Esse operador produziu uma Seies de booleanos True/False baseado no pa√≠s de cada registro.

 -> Ent√£o, esse resultado pode ser usado dentro do **loc** para selecionar os dados relevantes:

In [28]:
reviews.loc[reviews.country == 'Italy']

,country,description,...,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",...,White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",...,Frappato,Terre di Giurfo
...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",...,Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",...,Nero d'Avola,Cusumano

> O DataFrame filtrado possui ~20 mil linhas. Isso significa que mais ou menos 15% dos vinhos s√£o originados da It√°lia, dito que o DataFrame inteiro tem ~130 mil linhas.

N√≥s tamb√©m queremos saber quais vinhos est√£o acima da m√©dia. Os vinhos s√£o avaliados em uma escala de 80-100, ent√£o isso pode significar que acumularam pelo menos 90 pontos.

<font color='#C70039'>**N√≥s podemos usar o ( & ) para juntar as duas condi√ß√µes**</font>

In [29]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]

,country,description,...,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",...,Nebbiolo,Ceretto
130,Italy,"At the first it was quite muted and subdued, b...",...,Nebbiolo,Ceretto
...,...,...,...,...,...
129961,Italy,"Intense aromas of wild cherry, baking spice, t...",...,Frappato,COS
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",...,Nero d'Avola,Cusumano

Suponha que vamos comprar qualquer vinho que √© feito na It√°lia <font color='#C70039'>**OU**</font> que √© avaliado acima da m√©dia. Para isso usamos o operador l√≥gico <font color='#C70039'>**( | )**</font>

In [30]:
reviews.loc[(reviews.count == 'Italy') | (reviews.points >= 90)]

,country,description,...,variety,winery
119,France,Medium-gold in color. Complex and inviting nos...,...,Riesling,Dopff & Irion
120,Italy,"Slightly backward, particularly given the vint...",...,Nebbiolo,Ceretto
...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",...,Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",...,Gew√ºrztraminer,Domaine Schoffit

<font color='#33FFE0'>**Pandas**</font> vem com alguns seletores condicionais integrados, vamos ver dois deles:

<font color='#F7D209'>**1. isin:**</font> Permite selecionar dados cujo valor est√° em uma lista de valores.

Por exemplo, como n√≥s podemos us√°-lo para selecionar vinhos que s√£o somente da Fran√ßa ou da It√°lia:

In [31]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

,country,description,...,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",...,White Blend,Nicosia
6,Italy,"Here's a bright, informal red that opens with ...",...,Frappato,Terre di Giurfo
...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",...,Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",...,Gew√ºrztraminer,Domaine Schoffit

<font color='#F7D209'>**2. isnull/notnull:**</font> Esses m√©todos permite voc√™ destacar valores que est√£o vazios (ou n√£o vazios).

Por exemplo, para filtar vinhos sem etiquetas de pre√ßo no conjunto de dados, faremos assim:

In [32]:
reviews.loc[reviews.price.notnull()]

,country,description,...,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",...,Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",...,Pinot Gris,Rainstorm
...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",...,Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",...,Gew√ºrztraminer,Domaine Schoffit

### Assigning Data

> Por outro lado, atribuir dados ao DataFrame √© bem simples. Voc√™ consegue atribuir um valor constante:

In [33]:
reviews['critic'] = 'everyone'
reviews.critic

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

Ou com um iter√°vel:

In [34]:
reviews['index_backwards'] = range(len(reviews), 0, -1)
reviews['index_backwards']

0         129971
1         129970
           ...
129969         2
129970         1
Name: index_backwards, Length: 129971, dtype: int64

### Summary Functions and Maps

#### Summary Functions

<font color='#33FFE0'>**Pandas**</font> fornece v√°rias fun√ß√µes que permite visualizar um resumo de algumas informa√ß√µes do DataFrame.

Por exemplo: <font color='#4A0FF4'>**describe()**</font>

In [35]:
reviews.points.describe()

count    129971.000000
mean         88.447138
             ...
75%          91.000000
max         100.000000
Name: points, Length: 8, dtype: float64

Esse m√©todo gera um resumo de alto n√≠vel dos atributos da coluna especificada.

Sua sa√≠da muda com base no tipo de dados da entrada. O m√©todo reconhece o tipo.

Para dados que s√£o strings, o resultado √© diferente:

In [36]:
reviews.taster_name.describe()

count         103727
unique            19
top       Roger Voss
freq           25514
Name: taster_name, dtype: object

Se voc√™ quiser pegar um resumo em particular de uma coluna espec√≠fica, existe algumas fun√ß√µes do pandas que te ajudar√°!

Por exemplo, para ver a m√©dia dos pontos atribu√≠dos a um vinho, podemos usar a fun√ß√£o <font color='#4A0FF4'>**mean()**</font>

In [37]:
reviews.points.mean()

88.44713820775404

Para ver uma lista de valores √∫nicos, podemos usar a fun√ß√£o <font color='#4A0FF4'>**unique()**</font>

In [38]:
reviews.taster_name.unique()

array(['Kerin O‚ÄôKeefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

Para ver uma lista de valores √∫nicos e quantas vezes eles apareceram no dataset, n√≥s podemos usar o m√©todo <font color='#4A0FF4'>**value_counts()**</font>

In [39]:
reviews.taster_name.value_counts()

Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: taster_name, Length: 19, dtype: int64

#### Maps

> Um <font color='#4A0FF4'>**mapa**</font> √© um termo, emprestado da matem√°tica, para uma fun√ß√£o que pega um conjunto de valores e os 'mapeia' para outro conjunto de valores.

Em ci√™ncia de dados, muitas vezes precisamos criar novas representa√ß√µes a partir de dados existentes ou tranformar os dados do formato em que est√£o agora para o formato que queremos que estejam mais tarde.

Os <font color='#4A0FF4'>**mapas**</font> s√£o o que lidam com esse trabalho, tornando-os extremamente importante para a realiza√ß√£o do seu trabalho!

Vamos utilizar a fun√ß√£o <font color='#4A0FF4'>**map()**</font>!

Por exemplo, suponha que n√≥s queremos redimensionar as notas que os vinhos receberam para 0. Podemos fazer isso da seguinte maneira:

In [40]:
review_points_mean = reviews.points.mean()
reviews.points.map(lambda p: p - review_points_mean)

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

A fun√ß√£o que voc√™ passa para map() deve esperar um √∫nico valor da Seires (no nosso exemplo, um valor de ponto *('points')* ) e retornar uma vers√£o transformada desse valor.

*map retorna uma nova Series onde todos os valores foram transformados pro sua fun√ß√£o*

<font color='#4A0FF4'>**apply()**</font> √© um m√©todo equivalente, caso queira transformar um DataFrame inteiro chamando um m√©todo personalizado a cada linha.

In [41]:
def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')

,country,description,...,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",...,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",...,everyone,129970
...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",...,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",...,everyone,1

Caso tivessemos chamado reviews.apply() com **axis='index'**, ao inv√©s de passar uma fun√ß√£o para transformar cada linha, precisar√≠amos fornecer uma fun√ß√£o para transformar cada coluna.

‚ö†Ô∏è <font color='#F7D209'>**ATEN√á√ÉO:**</font>
- **map()** retorna uma **Series** nova e transformada
- **apply()** retorna um **DataFrame** novo e transformado

<font color='#F7D209'>**!**</font> Eles n√£o modificam os dados originais. Se n√≥s olharmos a primeira linha de reviews, n√≥s podemos ver que os **pontos** est√£o com os valores originais.

In [42]:
reviews.head(1)

,country,description,...,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",...,everyone,129971

<font color='#33FFE0'>**Pandas**</font> fornece muitas opera√ß√µes de mapeamentos imbutidas.

Por exemplo, aqui est√° um jeito mais r√°pido de redefinir nossa coluna de pontos.

In [43]:
review_points_mean = reviews.points.mean()
reviews.points - review_points_mean

0        -1.447138
1        -1.447138
            ...
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

<font color='#33FFE0'>**Pandas**</font> olha para essa express√£o e descobre que devemos subtrair esse valor m√©dio de cada valor no conjunto de dados *(reviews.points - review_points_mean)*

Ele tamb√©m vai entender o que fazer se n√≥s realizarmos essas opera√ß√µes entre Series com o mesmo comprimento.

Por exemplo, uma maneira f√°cil de combinar informa√ß√µes de pa√≠s e regi√£o, seria:

In [44]:
reviews.country + " - " + reviews.region_1

0            Italy - Etna
1                     NaN
               ...
129969    France - Alsace
129970    France - Alsace
Length: 129971, dtype: object

Esses operadores s√£o mais r√°pidos que map() ou apply() porque usam aceleradores integrados ao pandas. Todos operadores padr√µes do Python **(>, <, ==, etc...)** funcionam dessa maneira.

<font color='#F7D209'>**!**</font> Entretanto, eles n√£o s√£o t√£o flex√≠veis como map() ou apply(), que podem fazer coisas mais avan√ßadas, como aplicar l√≥gica condicional.

## Grouping and Sorting

### Introduction

Maps nos permite tranformar dados em um DataFrame ou Series, um valor por vez para uma coluna inteira. Entretanto, as vezes, n√≥s queremos agrupar dados, e ent√£o, fazer alguma coisa espec√≠fica para o grupo que cont√©m os dados.

### Groupwise analysis

Uma fun√ß√£o que temos usado massivamente at√© agora √© a fun√ß√£o value_counts(). Podemos replica-l√° fazendo o seguinte:

In [45]:
reviews.groupby('points').points.count()

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

groupby() criou um grupo de 'reviews' que atribu√≠ os pontos dados para cada vinho com mesmo valores. Ent√£o, para cada um desses grupos, n√≥s pegamos a coluna points() e contamos quantas vezes ela aparece. value_counts() √© apenas um atalho para essa opera√ß√£o de groupby.

N√≥s conseguimos usar qualquer fun√ß√£o de resumo que n√≥s usamos antes com esses dados. Por exemplo, para pegar o vinho mais barato em cada categoria de pontos, n√≥s podemos fazer o seguinte:

In [46]:
reviews.groupby('points').price.min()

points
80      5.0
81      5.0
       ...
99     44.0
100    80.0
Name: price, Length: 21, dtype: float64

Voc√™ pode pensar em cada grupo que geramos como sendo uma fatia do nosso DataFrame contendo somente dados com valores correspondentes. Esse DataFrame √© acess√≠vel para n√≥s diretamente para n√≥s usando o m√©todo apply(), e conseguimos manipular os dados de maneira adequada.

Por exemplo, aqui est√° uma maneira de selecionar o nome do primeiro vinho avaliado de cada vin√≠cola do dataset.

In [47]:
reviews.groupby('winery').apply(lambda df: df.title.iloc[0])

winery
1+1=3                          1+1=3 NV Ros√© Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
√†Maurice    √†Maurice 2013 Fred Estate Syrah (Walla Walla V...
≈†toka                         ≈†toka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

Para um controle ainda mais refinado, voc√™ tamb√©m pode agrupar mais de uma coluna.

Por exemplo, aqui est√° como escolher√≠amos o melhor vinho por pa√≠s e prov√≠ncia:

In [48]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colom√© ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                            ...    critic  index_backwards
country   province          ...
Argentina Mendoza Province  ...  everyone            47217
          Other             ...  everyone            51668
...                         ...       ...              ...
Uruguay   San Jose          ...  everyone            90073
          Uruguay           ...  everyone            90610

[425 rows x 15 columns]

Outro m√©todo do groupby() que vale a pena mencionar √© o agg(), que permite voc√™ executar v√°rias fun√ß√µes diferentes em seu DataFrame simultaneamente.

Por exemplo, n√≥s podemos gerar um simples resumo estat√≠stico do dataset da seguinte maneira:

In [49]:
reviews.groupby(['country']).price.agg([len, min, max])

            len   min    max
country
Argentina  3800   4.0  230.0
Armenia       2  14.0   15.0
...         ...   ...    ...
Ukraine      14   6.0   13.0
Uruguay     109  10.0  130.0

[43 rows x 3 columns]

### Multi-indexes

Em todos os exemplos que vimos at√© agora, trabalhamos com DataFrames ou Series com um √∫nico index. Na verdade, groupby() √© um pouco diferente, dependendo da opera√ß√£o que executamos, as vezes resultar√° no que chamamos de √≠ndice m√∫ltiplo.

In [50]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [51]:
mi = countries_reviewed.index
type(mi)

pandas.core.indexes.multi.MultiIndex

Multi √≠ndices possui v√°rios m√©todos para lidar com sua estrutura em camadas que est√£o ausentes nos √≠ndices de n√≠vel √∫nico. Eles tamb√©m exigem dois n√≠veis de labels para recuperar um valor. 

**Lidar com a sa√≠da de multi √≠ndices √© uma pegadinha comum para usu√°rios novos no pandas**

Entretanto, no geral, o m√©todo do multi √≠ndice que voc√™ usar√° com mais frequ√™ncia √© para converter de volta para um √≠ndice regular, o m√©todo **reset_index():**

In [52]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

### Sorting

Olhando novamente para *countries_reviewed* n√≥s podemos ver que o agrupamento retorna dados na ordem do √≠ndice, n√£o na ordem do valor. Isso quer dizer, quando √© retornado o resultado de um *groupby*, a ordem das linhas depende dos valores no √≠ndice, n√£o nos dados.

Para obter os dados na ordem desejada, podemos classific√°-los n√≥s mesmos. O m√©todo **sort_values()** √© √∫til para isso.

In [53]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

    country               province    len
179  Greece  Muscat of Kefallonian      1
192  Greece          Sterea Ellada      1
..      ...                    ...    ...
415      US             Washington   8639
392      US             California  36247

[425 rows x 3 columns]

Por padr√£o, o **sort_values()** ordena de maneira crescente. Entretanto, na maioria das vezes n√≥s queremos a ordem descendente.

In [54]:
countries_reviewed.sort_values(by='len', ascending=False)

    country    province    len
392      US  California  36247
415      US  Washington   8639
..      ...         ...    ...
63    Chile     Coelemu      1
149  Greece      Beotia      1

[425 rows x 3 columns]

Para ordenar por valores do √≠ndice, use o m√©todo complementar **sort_index()**. Esse m√©todo possui os mesmo argumentos e a ordem padr√£o:

In [55]:
countries_reviewed.sort_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

Finalmente, saiba que voc√™ pode ordenar mais de uma coluna por vez!

In [56]:
countries_reviewed.sort_values(by=['country', 'len'])

       country          province   len
1    Argentina             Other   536
0    Argentina  Mendoza Province  3264
..         ...               ...   ...
424    Uruguay           Uruguay    24
419    Uruguay         Canelones    43

[425 rows x 3 columns]

## Data Types and Missing Values

### Dtypes

O tipo de dado de uma coluna em um DataFrame ou uma Series √© conhecido como **dtype.**

Voc√™ pode usar a propriedade *dtype* para pegar o tipo de uma coluna espec√≠fica. Por exemplo, n√≥s podemos pegar o *dtype* da coluna *price* no DataFrame *reviews:*

In [58]:
reviews.price.dtype

dtype('float64')

Do mesmo jeito que se usarmos o *dtypes* para o DataFrame, ele retorna o tipo de todas as colunas:

In [61]:
reviews.dtypes

country            object
description        object
                    ...
critic             object
index_backwards     int64
Length: 15, dtype: object

Os tipos de dados nos conta algo como *pandas* armazena os dados internamente. *float64* significa que est√° usando um n√∫mero de ponto flutuante de 64-bit; *int64* significa um n√∫mero inteiro de 64-bit, e assim por diante...

‚ö†Ô∏è <font color='Gold'>**!** Uma peculiaridade a ter em mente √© que as colunas consistindo inteiramente de *strings* n√£o possuem seu pr√≥prio tipo; em vez disso, eles recebem o tipo de *object*</font>

√â poss√≠vel converter uma coluna de um tipo para outro, usando o **astype()**, desde que a convers√£o fa√ßa sentido. Por exemplo, n√≥s podemos transformar a coluna *points*, cujo tipo √© *int64* para *float64*

In [62]:
reviews.points.astype('float64')

0         87.0
1         87.0
          ...
129969    90.0
129970    90.0
Name: points, Length: 129971, dtype: float64

Um √≠ndice de um DataFrame ou uma Series tamb√©m possui seu pr√≥prio tipo:

In [63]:
reviews.index.dtype

dtype('int64')

üßê <font color='RoyalBlue'>Pandas tamb√©m suporta tipos de dados mais ex√≥ticos, como *categ√≥ricos* e *dados de s√©ries temporais*. Pois esses tipos de dados s√£o usados com menos frequ√™ncia.</font>

### Missing Data

As entradas com valores ausentes recebem o nome de <font color='FireBrick'>**Nan**</font>, abrevia√ß√£o de *'Not a Number'*. Por raz√µes t√©cnicas esses valores <font color='FireBrick'>**Nan**</font> s√£o **SEMPRE** do tipo *float64*.

Pandas fornece alguns m√©todos espec√≠ficos para valores ausentes. Para selecionar valores <font color='FireBrick'>**Nan**</font> voc√™ pode usar **pd.isnull()** ou seu companheiro **pd.notnull()**. Vejamos:

In [64]:
reviews[pd.isnull(reviews.country)]

,country,description,...,critic,index_backwards
913,NaN,"Amber in color, this wine has aromas of peach ...",...,everyone,129058
3131,NaN,"Soft, fruity and juicy, this is a pleasant, si...",...,everyone,126840
...,...,...,...,...,...
129590,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",...,everyone,381
129900,NaN,This wine offers a delightful bouquet of black...,...,everyone,71

Substituir valores ausentes √© uma opera√ß√£o comum. Pandas fornece m√©todos para esse problema: **fillna()**.

**fillna()** fornece diferentes estrat√©gias para mitigar esses dados. Por exemplo, n√≥s conseguimos substituir cada valor **Nan** com **"Unknown"**:

In [65]:
reviews.region_2.fillna("Unknown")

0         Unknown
1         Unknown
           ...
129969    Unknown
129970    Unknown
Name: region_2, Length: 129971, dtype: object

Ou podemos preencher cada valor ausente com o primeiro valor n√£o nulo que aparece algum tempo depois do registro fornecido no banco de dados. Isso √© conhecido como estrat√©gia de preenchimento. <font color='LimeGreen'>**(Backfill Strategy)**</font>

Alternativamente, podemos ter um valor n√£o nulo que gostar√≠amos de substituir. Por exemplo, suponha que desde que o *dataset* foi publicado, o cr√≠tico *Kerin O'Keefe* mudou seu identificador do Twitter de **@kerinokeefe** para **@kerino**. Uma maneira de refletir isso no *dataset* √© usando o m√©todo **replace()**:

In [66]:
reviews.taster_twitter_handle.replace('@kerinokeefe', '@kerino')

0            @kerino
1         @vossroger
             ...
129969    @vossroger
129970    @vossroger
Name: taster_twitter_handle, Length: 129971, dtype: object

Vale a pena mencionar o m√©todo **replace()** pois ele √© √∫til para substituir dados ausentes que recebem algum tipo de valor sentinela no *dataset*: coisas como *"Unknown", "Undisclosed", "Invalid"* e assim por diante.

## Renaming and Combining

### Renaming

A primeira fun√ß√£o que veremos √© a **rename()**, que permite voc√™ mudar o nome de √≠ndices e/ou nome de colunas. Por exemplo, para mudar a coluna *points* para *score* no nosso *dataset*, faremos:

In [71]:
reviews.rename(columns={'points' : 'score'})

,country,description,designation,score,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuv√©e Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuv√©e Car...,Gew√ºrztraminer,Domaine Schoffit,everyone,1

Aqui est√° um exemplo usando o **rename()** para renomear elemntos do √≠ndice

In [72]:
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
firstEntry,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia,everyone,129971
secondEntry,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuv√©e Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuv√©e Car...,Gew√ºrztraminer,Domaine Schoffit,everyone,1

Voc√™ provavelmente vai renomear colunas com muita frequ√™ncia, mas renomear√° valores de √≠ndices muito raramente. Para isso, **set_index()** geralmente √© mais conveniente.

Tanto o √≠ndice da linha como o √≠ndice da coluna podem ter seu pr√≥prio atributo nome. O m√©todo complementar **rename_axis()** pode ser usado para alterar esess nomes. Por exemplo:

In [73]:
reviews.rename_axis('wines', axis='rows').rename_axis('fields', axis='columns')

fields,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,index_backwards
wines,,,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulk√† Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O‚ÄôKeefe,@kerinokeefe,Nicosia 2013 Vulk√† Bianco (Etna),White Blend,Nicosia,everyone,129971
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,129970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,everyone,2
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuv√©e Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuv√©e Car...,Gew√ºrztraminer,Domaine Schoffit,everyone,1

### Combining

Ao executar opera√ß√µes no *dataset*, as vezes precisaremos combinar diferentes DataFrames e/ou Series de uma maneira n√£o trivial. Pandas tem **3** principais m√©todos para fazer isso. Em ordem crescente de complexidade: **concat(), join() e merge()**. A maior parte do que **merge()** pode fazer, tamb√©m pode ser feito de forma mais simples com **join()**, ent√£o n√≥s o omitiremos e focaremos nas duas primeiras fun√ß√µes.

O m√©todo de combina√ß√£o mais simples √© o **concat()**. Dado uma lista de elementos, essa fun√ß√£o ir√° comprimir esses elementos juntos ao longo de um eixo.

Isso √© muito √∫til quando temos dados em diferentes DataFrames ou Series, mas temos os mesmo campos (colunas). Um exemplo: o *YouTube Videos dataset* que divide os dados com base no pa√≠s de origem. Se n√≥s quisermos estudar v√°rios pa√≠ses simultaneamente, n√≥s podemos usar o **concat()** para junt√°-los.

In [74]:
canadian_youtube = pd.read_csv(r'C:\Users\migsk\Documents\Kaggle Courses\kaggle-courses\Pandas Course\trending-youtube-video-statistics\CAvideos.csv')
british_youtube = pd.read_csv(r'C:\Users\migsk\Documents\Kaggle Courses\kaggle-courses\Pandas Course\trending-youtube-video-statistics\GBvideos.csv')

pd.concat([canadian_youtube, british_youtube])

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. Beyonc√©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. Beyonc√© i...
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38914,-DRsfNObKIQ,18.14.06,Eleni Foureira - Fuego - Cyprus - LIVE - First...,Eurovision Song Contest,24,2018-05-08T20:32:32.000Z,"Eurovision Song Contest|""2018""|""Lisbon""|""Cypru...",14317515,151870,45875,26766,https://i.ytimg.com/vi/-DRsfNObKIQ/default.jpg,False,False,False,Eleni Foureira represented Cyprus at the first...
38915,4YFo4bdMO8Q,18.14.06,KYLE - Ikuyo feat. 2 Chainz & Sophia Black [A...,SuperDuperKyle,10,2018-05-11T04:06:35.000Z,"Kyle|""SuperDuperKyle""|""Ikuyo""|""2 Chainz""|""Soph...",607552,18271,274,1423,https://i.ytimg.com/vi/4YFo4bdMO8Q/default.jpg,False,False,False,Debut album 'Light of Mine' out now: http://ky...

**join()** permite que voc√™ combine diferentes DataFrames que possua √≠ndices em comum. Por exemplo, para baixar v√≠deos que estavam em alta no mesmo dia no Canad√° e no Reino Unido, poder√≠amos fazer o seguinte:

In [77]:
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')

,,video_id_CAN,channel_title_CAN,category_id_CAN,publish_time_CAN,tags_CAN,views_CAN,likes_CAN,dislikes_CAN,comment_count_CAN,thumbnail_link_CAN,comments_disabled_CAN,ratings_disabled_CAN,video_error_or_removed_CAN,description_CAN,video_id_UK,channel_title_UK,category_id_UK,publish_time_UK,tags_UK,views_UK,likes_UK,dislikes_UK,comment_count_UK,thumbnail_link_UK,comments_disabled_UK,ratings_disabled_UK,video_error_or_removed_UK,description_UK
title,trending_date,,,,,,,,,,,,,,,,,,,,,,,,,,,,
!! THIS VIDEO IS NOTHING BUT PAIN !! | Getting Over It - Part 7,18.04.01,PNn8sECd7io,Markiplier,20,2018-01-03T19:33:53.000Z,"getting over it|""markiplier""|""funny moments""|""...",835930,47058,1023,8250,https://i.ytimg.com/vi/PNn8sECd7io/default.jpg,False,False,False,Getting Over It continues with RAGE BEYOND ALL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"#1 Fortnite World Rank - 2,323 Solo Wins!",18.09.03,DvPW66IFhMI,AlexRamiGaming,20,2018-03-09T07:15:52.000Z,"PS4 Battle Royale|""PS4 Pro Battle Royale""|""Bat...",212838,5199,542,11,https://i.ytimg.com/vi/DvPW66IFhMI/default.jpg,False,False,False,Discord For EVERYONE - https://discord.gg/nhud...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
üö® BREAKING NEWS üî¥ Raja Live all Slot Channels Welcome üé∞,18.07.05,Wt9Gkpmbt44,TheBigJackpot,24,2018-05-07T06:58:59.000Z,"Slot Machine|""win""|""Gambling""|""Big Win""|""raja""...",28973,2167,175,10,https://i.ytimg.com/vi/Wt9Gkpmbt44/default.jpg,False,False,False,The Raja takes matters in to his own hands ton...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
üö®Active Shooter at YouTube Headquarters - LIVE BREAKING NEWS COVERAGE,18.04.04,Az72jrKbANA,Right Side Broadcasting Network,25,2018-04-03T23:12:37.000Z,"YouTube shooter|""YouTube active shooter""|""acti...",103513,1722,181,76,https://i.ytimg.com/vi/Az72jrKbANA/default.jpg,False,False,False,An active shooter has been reported at the You...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Os par√¢metros **lsuffix** e **rsuffix** s√£o necess√°rios aqui pois os dados possuem o mesmo nome da coluna nois dois *datasets*. Se isso n√£o fosse verdade, n√£o precisar√≠amos deles.